* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: skyblue;
    background-size: cover;
}

/* HEADER */
header {
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h2 {
    font-weight: 800;
    color: white;
}

header h2:hover {
    scale: 1.1;
    transition: scale 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav ul {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

nav li {
    list-style: none;
}

nav li:hover {
    scale: 1.1;
    transition: scale 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

nav li::after {
    content: "";
    background-color: blue;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    transition: width 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

nav li:hover::after {
    width: 100%;
}

/* MAIN */
button {
    padding: 12px;
    font-weight: bolder;
    border: none;
    border-radius: 12px;
}

.biru {
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
}

.biru:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
    transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.birubor {
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
}

.birubor:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
    transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.card h1 {
    color: white;
    font-size: 40px;
}

.card p {
    color: white;
}

.card h3 {
    color: white;
    font-size: xx-large;
}

.foto {
    scale: 1;
    transition: scale 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    
}

.foto img:hover {
    scale: 1.1;
    transition: scale 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.foto img::after:hover {
    scale: 1;
    transition: scale 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.foto img {
    width: 300px;
    border-radius: 100%;
}

/* ABOUT */
main h1 {
    color: white;
}

main p {
    color: white;
}